th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

body {
    background-color: #64e479;
}

.Mid {
    text-align: center;
}

.Mid:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: red;
}

td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: red;
}

th:hover {
    background-color: #f0f0f0;
    cursor: pointer;
    color: red;
}

span {
    transition: transform 0.4s ease;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
}

span:hover {
    transform: scale(20);
    animation: spin 1.1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(5) rotate(0deg);
    }

    to {
        transform: scale(20) rotate(360deg);
    }
}