body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
}

h2 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: purple;
}

div {
    width: 50%;
    height: auto;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(4, 104, 117, 0.9);
}

div {
    transition: box-shadow 0.3s, transform 0.3s;
}

div:hover {
    box-shadow: 0 4px 10px rgba(4, 104, 117, 0.9);
    transform: translateY(-8px);
}