body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
}

h2 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: goldenrod;
}
div {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}