*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.5rem;
    margin: 10px 20px ;
    padding: 20px;
    background-color: wheat;
}

.content{
    background-color: #fff;
    padding: 20px;
    box-shadow: 1px 15px 20px black;
}

.pdf{
    padding: 5px ;
    border: 2px solid green;
    text-decoration: none;
    border-radius: 10px;
    background-color: white;
}

.pdf:hover{
    background-color: green;
    color: white;
}
ul{
    margin-left: 20px ;
}