body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: goldenrod;
}

h2 {
    text-align: center;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: purple;
}

div {

    width: 50%;
    height: auto;
    margin: 7px;
    padding: 10px;
    background-color: rgb(233, 229, 229);
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(4, 104, 117, 0.9);
    transition: box-shadow 0.3s, transform 0.3s;
}


div:hover {
    box-shadow: 0 4px 10px rgba(4, 104, 117, 0.9);
    transform: translateY(-10px);
}

.project {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}